.Home {
    margin-top: 30px;

    .Search__container {
        margin-bottom: 30px;
        margin-top: 50px;

        .MuiFormControl-root {
            width: 100%;
        }

        .MuiButtonBase-root {
            // margin-left: 15px;
        }
    }
}