.Create {
    margin-top: 15px;

    form > div {
        margin-top: 20px;
    }

    .MuiFormControl-root {
        width: 100%;
    }

    .rti--container {
        width: 100%;
        min-height: 56px;
    }
}